html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, img, ol, ul, li, article, footer, header, nav{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
ol, ul{
	list-style: none;
}
.clfx:after {
	content: "";
	display: table;
	clear: both;
}
h2{
	font-size: 1.4em;
}
body{
	padding-top: 48px;
	background-color: rgba(0,0,0,.2);
}
body > div{
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
	text-align: center;
}
input{
	margin-bottom: 24px;
}
.artist{
	margin-bottom: 24px;
}
.artist img{
	max-width: 200px;
}